.skillsBlock {
    min-height: 50vh;
    background-color: #d4ffc0;
}

.skillsContainer {
    justify-content: center;
}

.title {
    background-color: #eeeef5;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

