.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.footer {
    background-color: #708f85;

}

.footerBlock {
    width: 200px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divItem {
    width: 30px;
    height: 30px;
    background-color: darkslategrey;
}